* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.menu {
    background-color: #f6f4ff;
    border: 1px solid #e4daff;
    border-radius: 100px;
    justify-content: right;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    position: fixed;
    inset: 0% 0% auto;
    padding: 10px;
}

.menu button {
    color: #fff;
    background-color: #1a1a1a;
    border: 0 #0000;
    border-radius: 100px;
    flex: 0 auto;
    padding: 1rem 2rem;
    transition: transform .2s ease-in-out, background-color .3s;
    font-size: 15px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 10px;
    font-size: 15px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}