* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.search {
    background-color: #ffffff;
    border: 1px solid #dae8ff;
    border-radius: 100px;
    color: #c7c7c7;
    padding: 10px 18px;
    margin: 0 16px;
    width: 443px;
    height: 36px;
}

.menu {
    /* background-color: #A5E0EE;
    border: 1px solid #daf6ff; */
    background-color: #f4feff;
    border: 1px solid #dae8ff;
    border-radius: 100px;
    justify-content: right;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 14%;
    margin-right: 14%;
    display: flex;
    position: fixed;
    inset: 0% 10% auto;
}

.menu button {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 550;
    color: #fff;
    background-color: #1a1a1a;
    border: 0 #0000;
    border-radius: 100px;
    flex: 0 auto;
    padding: 1rem 2rem;
    transition: transform .2s ease-in-out, background-color .3s;
    margin-right: 0.7rem;
    cursor: pointer;
}

.menu img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
    height: 40px;

}

.menu button:hover {
    background-color: #292626;
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 10px;
    font-size: 15px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(110, 110, 110);
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 65%;
    left: 70%;
    background-color: #fff;
    padding: 0;
    list-style: none;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
    border-radius: 20px;
}

nav ul li ul li {
    display: block;
    margin: 10px;
}

nav ul li ul li a {
    padding: 10px;
    color: #333;
    display: grid;
}

nav ul li ul li a:hover {
    background-color: #eee;
    border-radius: 20px;
}

nav ul li:hover>ul {
    display: block;
}




.header img {
    padding-top: 7rem;
    width: 100%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 13px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a1c5ff;
}

@keyframes slides {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 30px 0px;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logo_items {
    display: inline-block;
    animation: slides 120s linear infinite;
}

.logos:hover .logo_items {
    animation-play-state: paused;
}

.logo_items img {
    margin: 0px 20px;
    border-radius: 20px;
    max-height: 8rem;
}